* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
}

.textField {
    padding: 5px;
    border-radius: 20px;
    border: 2px solid grey;
}

.button {
    padding: 5px;
    border-radius: 20px;
    border: 2px solid rgb(1, 105, 242);
    cursor: pointer;
    /* background-color: ; */
}

div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 30%;
    padding: 30px 0;
}

p{
    text-align: left;
}
